body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
  }
  
  #navbar {
    background-color: #ffd89b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 7px;
  }

  
  #nav-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    color: gray;
    font-size: 10px;
  
   
  }
  
  li {
    list-style: none;
  
  }
  a{
    color: #19547b;
    text-decoration: none;
    font-size: 2em;
    padding: 7px 7px 5px 5px;
  }
  

  
  .welcome-section{
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px 150px 20px 40px;
    margin: 60px 10px 30px 60px;
    border-radius: 10px;
    box-shadow: 5px 10px #f7797d;
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }

  
    #background-img
                    {
      width: 100%;
      max-width: 1000px;
      position:fixed;
      right:0;
      left:0;
      z-index:-1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  
  h1 {
    color: #f12711;
    font-size: 2rem;
    font-weight: 700;
  }
  
  
  #welcome-section > p {
     color: #f5af19;
     font-size: 1.5rem;
     font-style: italic;
  }
  
  .projects {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 3rem;
    background: #808080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
    h2 {
    font-size: 3.2rem;
    color: white;
  }
  
  .project-img {
    height: calc(100% - 4.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .project-tile {
    color: white; 
    width: 100%;
    background-color: #303841;
    margin: 0;
    padding: 1rem 0;
    border-radius: 10px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem; 
    width: 100%;
    max-width: 1280px;
    margin: 60px 60px 60 60px 60px;
    margin-bottom: 6rem;
  }
  
  
  #contact {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    color: #fff
  }

  #contact-header {
    width: 35%;
    margin: 50px auto;
    padding: 50px auto;
    color: #fff
  }

  a {
    color: #fff
  }
  
  #contact-p {
    color: white;
    font-size: 1.0rem;
    font-style: italic; 
    font-weight: 100;
    text-align: center;
  }
  
  @media (max-width: 100px) {
    h2 {
      font-size: 2.5rem;
    }

    #background-img {
        max-width: 1000px;
    }
    
  }
  
  